.App {
  font-family: sans-serif;
  text-align: center;
}

/* .adm-mask.adm-toast-mask .adm-toast-wrap {
  text-align: center;
}

.adm-mask.adm-toast-mask .adm-toast-main {
  transform: translateY(-50%);
  left: unset;
} */
