.login {
  padding: 40px 20px;
}

.btn1 {
  border: 1px solid #ccc;
  padding: 2px 4px;
  border-radius: 6px;
  cursor: pointer;
  /* user-select: none; */
}

.btn1:active {
  background-color: aliceblue;
}

.btn2 {
  display: block;
  margin-top: 20px;
}

.img {
  margin-top: 20px;
  cursor: pointer;
}

img:active {
  background-color: #dedede;
}
